// Colors
$primary-brand-color: #a158ff;
$overlay-transparent-black: rgba(1,1,1,0.9);

$header-height: 60px;

$sidebar-expanded: 150px;
$sidebar-contracted: 40px;

$overlay-border-radius: 20px;
$overlay-z-index: 1000;
$overlay-on-top: $overlay-z-index + 1;
