// Colors
$primary-brand-color: #d9534f;

// Sizes
$header-height: 70px;

// Breakpoints
$x-small: 320px;
$mobile: 568px;
$tablet: 768px;
$medium: 1024px;
$large: 1224px;
$x-large: 1600px;
$xx-large: 1920px;
