// Colors
$primary-brand-color: #00BCF2;

$light-gray: rgb(245, 245, 245);
$dark-gray: rgb(26, 26, 26);

$text-dark: rgb(60, 60, 60);
$text-light: rgb(150, 150, 150);
$text-hover: rgb(180, 180, 180);
$text-down: rgb(210, 210, 210);

// Sizes
$header-height: 56px;
$sidebar-width: 240px;

// Breakpoints
$x-small: 320px;
$mobile: 568px;
$tablet: 768px;
$medium: 1024px;
$large: 1224px;
$x-large: 1600px;
$xx-large: 1920px;
