.header-content {
  text-align: center;
}

.filter-controls-bar {
  height: 50px;
  display: block;
  margin: 0px 50px;
  border-bottom: 1px solid gray;
  background-color: rgb(252, 252, 252);

  .controls-btm {
    margin-top: 10px;
  }
}
