body, html {
    font-family: 'Lato', Helvetica;
    background-color: $light-gray;
}

.no-dec {
    text-decoration: none !important;
}

.app {
    text-align: center;

    section {
        background-color: white;
        min-height: 400px;
        margin: 0 20px 20px 20px;
        padding: 10px 20px;
        text-align: left;

        hr {
            width: auto;
        }

        .section-content {
            margin-left: 0;
            margin-right: 0;
            padding: 10px;

            .section-content-header {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

.code-block {
    border: 1px solid gray;
    border-radius: 5px;
    width: auto;
    color: gray;
    background-color: #1E1E1E;
    font-family: Courier New;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    width: auto;
    display: inline-block;
    min-width: 400px;
    min-height: 42px;
}

.tagline {
    font-size: 12px;
}

.wrap {
    width: auto;
    min-width: auto;
}

.margin-right { margin-right: 10px; }
.margin-left { margin-left: 10px; }
.margin-bottom { margin-bottom: 10px; }
.margin-top { margin-top: 10px; }

@media only screen and (max-width : $mobile) {
    .app {
        section {
            margin: 10px;
        }
    }

    .code-block {
        min-width: auto;
    }
}
