.header-content {
  text-align: center;

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 568px) {
    padding-left: 0 !important;
  }
}

.sidebar-pad-expanded {
  padding-left: $sidebar-expanded;
}

.sidebar-pad-contracted {
  padding-left: $sidebar-contracted;
}
