.breadcrumbs {
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
    font-size: 10px;
    color: $text-light;

    .crumb {
        padding: 0;
        outline: none;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        margin-right: 10px;
    }
}

@media only screen and (max-width : $mobile) {
    .breadcrumbs {
        font-size: 9px;
        margin: 8px 0;
        padding-left: 15px;
    }
}
