.btn-nav {
    height: $header-height;
    line-height: 37px;
    border: 0;
    border-bottom: 0;
    background-color: transparent;
    color: $text-light;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0;
    box-shadow: none !important;
    text-transform: uppercase;

    &:hover {
        background-color: rgba(1, 1, 1, 0.3);
        color: $text-hover;
    }

    &:focus {
        outline: none !important;
        color: $text-hover;
    }

    &:active {
        outline: none;
        color: $text-hover;
    }

    &.active {
        outline: none;
        background-color: transparent;
        color: white;

        i {
            color: $primary-brand-color;
        }
    }
}

.btn-icon {
    i {
        margin-right: 8px;
    }
}

.btn-sidebar-toggle {
    width: 50px;
    font-size: 20px;

    i {
        margin-right: 0;
    }
}

.btn-refresh {
    margin-right: 10px;
}

.btn-counter {
    font-weight: bold;
    font-size: 14px;
    margin: 0 10px;
}

@media only screen and (max-width : $tablet) {
    .btn-nav {
        width: 50px;
        font-size: 0;

        i {
            width: 100%;
            line-height: 38px;
            margin-right: 0;
            font-size: 18px;
        }
    }
}
