.primary-btn {
  background-color: $primary-brand-color;
  border: 0;
  color: white;

  &.active {
    color: white;
    background-color: $primary-brand-color;

    &:hover {
      color: white;
      background-color: $primary-brand-color;
    }
  }

  &:active {
    background-color: $primary-brand-color !important;
  }

  &:focus {
    background-color: $primary-brand-color;
  }

  &:enabled {
    color: white !important;
  }

  &:hover {
    color: white !important;
    background-color: lighten($primary-brand-color, 4%);
  }
}
