.cam-app-container {
  padding-top: $header-height;
}

.user-list {
  list-style-type: none;
  margin-bottom: 50px;
  text-align: left;
  padding: 0;
  margin: 0 10px;
}

.camgrid-error-container {
  margin: 0 20px;
}

.cam-error {
  height: auto;
  background-color: darken($primary-brand-color, 2);
  font-weight: 600;
  color: $secondary-text-color;
  text-align: center;
  padding: 10px 20px;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  span {
    padding-left: 30px;
  }
}

.user-item {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  color: #969696;
  padding: 0 10px;
  text-align: center;

  &.user:hover {
    cursor: pointer;
  }

  @media only screen and (min-width : $mobile) {
    width: 50%;
  }

  @media only screen and (min-width : $tablet) {
    width: 33.333333333333%;
  }

  @media only screen and (min-width : $medium) {
    width: 25%;
  }

  @media only screen and (min-width : $large) {
    width: 20%;
  }

  @media only screen and (min-width : $x-large) {
    width: 16.6666666666666%;
  }

  @media only screen and (min-width : $xx-large) {
    width: 14.2857142857%;
  }

  .viewers {
    color: $viewer-color;

    i {
      font-size: 15px;
    }
  }
}

.card-image {
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  background-size: contain;
  background-repeat: no-repeat;

  &.waypoint {
    background-position: center;
    background-size: 50px;
    background-image: url('../images/spinner.svg');
  }

  &.no-more-cams {
    background-position: center;
    background-size: 50px;
    background-image: url('../images/danger.svg');
  }

  @media only screen and (max-width : $mobile) {
    width: 100%;
    height: 150px;
  }
}

.cam-grid-container {
  padding-top: 20px;

  &.gaming-active {

  }
}
