.cam-app-container {
  padding-top: $header-height;
}

.user-list {
  list-style-type: none;
  margin-bottom: 50px;
  text-align: left;
  padding: 0;
  margin: 0 10px;
}

.user-item {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  color: #d3d3d3;
  padding: 0 10px;

  /* Smartphones (portrait) ----------- */
  @media only screen and (min-width : 568px) {
    width: 50%;
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (min-width : 768px) {
    width: 33.333333333333%;
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (min-width : 1024px) {
    width: 25%;
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (min-width : 1224px) {
    width: 20%;
  }

  .user {
    margin-left: 5px;
  }

  .viewers {
    color: $viewer-color;
    background-size: 16px 16px;
    margin-right: 5px;
    background-image: url('../images/user.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 18px;
  }
}

.card-image {
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  background-size: contain;
  background-repeat: no-repeat;

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 568px) {
    width: 100%;
    height: 150px;
  }
}
