.filter-bar {
  .filter-controls {
    padding: 20px 0px;
    border-bottom: 1px solid $separator-color;
    margin: 0px 20px;

    .filter-dropdown {
      width: 150px;
      margin-right: 5px;
    }
  }
}

.filter-controls-bar {
  height: 40px;
  display: block;
  margin: 20px 20px 0px 20px;
  position: relative;

  .filter-toggle {
    padding-right: 0;
    background-color: $body-color !important;
    border: none;
    right: 0;
    color: white !important;

    &.active {
      i {
        color: $primary-brand-color !important;
      }
    }

    &:hover {
      color: $primary-brand-color !important;
    }
  }

  .controls-btm {
    z-index: 0;
    position: absolute;
    bottom: 0;
  }
}

.category-radio-buttons {
  left: 0;
  height: 40px;

  button {
    height: 40px;
  }
}

.category-dropdown {
  left: 0;

  button {
    width: 120px;
    height: 40px;
    font-size: 16px;

    .caret {
      border-width: 6px !important;
    }
  }

  a {
    height: 35px;
    padding-top: 7px !important;
  }
}
