.filter-bar {
  margin-bottom: 50px;

  .filter-controls {
    padding: 20px 0px;
    background-color: white;
    border: 1px solid gray;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px 50px;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 568px) {
      margin: 0px 20px;
    }

    .filter-dropdown {
      width: 150px;
      text-transform: uppercase;
      margin-right: 5px;
    }

    .filter-control {
      z-index: 0 !important;
    }
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 568px) {
    margin-bottom: 30px;
  }
}
