.filter-bar {
  margin-bottom: 20px;

  .filter-controls {
    padding: 20px 0px;
    border: 1px solid gray;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px 20px;

    .filter-dropdown {
      width: 150px;
      margin-right: 5px;
    }

    .filter-control {
      z-index: 0 !important;
    }
  }
}

.filter-controls-bar {
  height: 50px;
  display: block;
  margin: 10px 20px 0px 20px;
  border-bottom: 1px solid gray;

  .controls-btm {
    margin-top: 10px;
    z-index: 0;
  }
}
