.header {
  top: 0;
  width: 100%;
  height: $header-height;
  left: 0;
  padding: 10px;
}

.sidebar-pad-expanded {
  padding-left: $sidebar-expanded;
}

.sidebar-pad-contracted {
  padding-left: $sidebar-contracted;
}
