.header {
  top: 0;
  width: 100%;
  height: 55px;
  background-color: black;
  left: 0;
  padding: 10px;
}

.sidebar-pad-expanded {
  padding-left: 100px;
}

.sidebar-pad-contracted {
  padding-left: 40px;
}
