.overlay {
  background-color: $overlay-transparent-black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: $overlay-z-index;
}

.overlay-close {
  opacity: 1;
  right: 5px;
  position: absolute;
  top: 13px;
  z-index: $overlay-on-top;
}

.overlay-content {
  position: absolute;
  color: gray;
  text-align: center;
  padding: 20px;
  z-index: $overlay-on-top;
  width: 400px;
  border: 2px solid $primary-brand-color;
  @include vertical-horizontal-center();
}

.register-overlay {
  .register-label {
    float: left;
    margin-left: 20px;
  }

  .register-description {
    margin-bottom: 10px;
  }

  .register-overlay-title {
    margin-top: 0px;
  }

  .cancel-button {
    float: left;
    margin-right: 15px;
    width: 150px;
    background-color: transparent !important;
    border: 1px solid gray !important;

    &:hover {
      background-color: gray !important;
    }
  }

  .register-field {
    background-color: gray !important;
    border: none !important;
    color: black !important;
    border-radius: 0 !important;

    &:disabled {
      background-color: $sidebar-color !important;
    }
  }

  .login-requesting {
    float: right;
    width: 150px;
    height: 34px;
    background-image: url('../images/spinner.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .register-button {
    float: right;
    width: 150px;
  }
}
