.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: rgb(33, 33, 33);
  display: inline-block;
  z-index: 1;
  text-align: center;

  &.expanded {
    width: $sidebar-expanded;
  }

  &.contracted {
    width: $sidebar-contracted;
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 568px) {
    display: block;
    height: $header-height;
    width: 100% !important;
  }

  .burger-menu {
    display: none;
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 568px) {
      display: block;
      position: fixed;
      top: 10px;
      left: 5px;
    }
  }

  .burger-nav {
    padding: 20px 0;
    background-color: rgb(33, 33, 33);

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 568px) {
      display: none;
    }
  }

  .show-burger-nav {
    display: block;
  }
}

.sidebar-title {
  color: white;
  margin: 0;
  vertical-align: middle;
  display: table-cell;
  font-size: 16px;
}

.sidebar-logo {
  display: table;
  width: 100%;
  height: $header-height;
  text-align: center;
}

.toggle-expanded {
  margin-left: $sidebar-expanded + 5;
}

.toggle-contracted {
  margin-left: $sidebar-contracted + 5;
}
