.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: #1e1e1e;
  display: inline-block;
  z-index: 1;
  text-align: center;

  &.expanded {
    width: $sidebar-expanded;
  }

  &.contracted {
    width: $sidebar-contracted;
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 568px) {
    display: block;
    height: $header-height;
    width: 100% !important;
  }

  .burger-menu {
    display: none;
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 568px) {
      display: block;
      position: fixed;
      top: 10px;
      left: 5px;
    }
  }

  .separator {
    height: 10px;
    border-top: 1px solid rgb(61, 61, 61);
    display: block;
    width: 75%;
    margin: 0 auto;
  }

  .burger-nav {
    padding: 15px 0;
    background-color: #1e1e1e;

    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 568px) {
      display: none;
    }

    .nav-link {
      border-radius: 0;
      display: block;
      width: 100%;
      background-color: #1e1e1e;
      border: 0;
      color: gray;
      padding: 10px 0;

      &.active {
        background-color: #282828;
        color: white;
        border-left: 5px solid $primary-brand-color !important;

        &:hover {
          background-color: #282828;
        }
      }

      &:active {
        color: gray;
        background-color: #282828;
      }

      &:hover {
        background-color: #282828;
      }
    }

    .home-text-expanded:before {
      content: 'Home';
    }

    .home-text-contracted:before {
      content: 'H';
    }

    .about-text-expanded:before {
      content: 'About';
    }

    .about-text-contracted:before {
      content: 'A';
    }

    .mini-nav {
      width: $sidebar-expanded;
      height: 120px;
      background-color: #1e1e1e;
      padding: 12px 0;
      position: absolute;
    }

    .mini-nav-expanded {
      bottom: 10px;
    }

    .mini-nav-contracted {
      left: $sidebar-contracted + 10;
      margin-top: -45px;

      &:before {
        position: absolute;
        left: -10px;
        top: 17px;
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

        border-right:10px solid #1e1e1e;
      }
    }

    .mini-nav-link {
      color: rgb(61, 61, 61);
      background-color: #1e1e1e;
      border-radius: 0;
      border: none;

      &.active {
        color: white;
        border-radius: 3px;
        -webkit-box-shadow:inset 0px 0px 0px 2px $primary-brand-color;
        -moz-box-shadow:inset 0px 0px 0px 2px $primary-brand-color;
        box-shadow:inset 0px 0px 0px 2px $primary-brand-color;
        background-color: #1e1e1e;

        &:hover {
          background-color: #1e1e1e;
        }
      }

      &:hover {
        background-color: #282828;
      }
    }
  }

  .show-burger-nav {
    display: block;
  }
}

.sidebar-title {
  color: rgb(204, 204, 204);
  margin: 0;
  vertical-align: middle;
  display: table-cell;
  font-size: 20px;
  font-weight: 200;
}

.sidebar-title-expanded:before {
  content: 'React Live';
}

.sidebar-title-contracted:before {
  content: 'R';
}

.sidebar-logo {
  display: table;
  width: 100%;
  height: $header-height;
  text-align: center;
}

.toggle-expanded {
  margin-left: $sidebar-expanded + 5;
}

.toggle-contracted {
  margin-left: $sidebar-contracted + 5;
}
